.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
.container{
    max-width: 1175px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.quickinfo-flex{
    display: flex;
    justify-content: space-between;
    height: 43px;
    outline: solid 1px;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    height: 75px;
    outline: solid 1px;
}
.banner-flex{
    display: flex;
    height: 396px;
    outline: solid 1px;
}
.about-flex{
    display:flex;
    justify-content: space-between;
    height: 560px;
    outline: solid 1px;
}
.about-flex .about-1{
    width: 50%;
    outline: solid 1px;
}
.icofont-finger-print{
    font-size: 20px;
}
.about-1 img{
    height: 560px;
    width: 100%;
}
.about-1 .honour{
    font-size: 40px;
    text-align: center;
    padding-left: 50px;
    padding-bottom: 25px;
}
.about-1 .axus{
    font-size: 20px;
    padding-left: 100px;
    padding-bottom:25px;
}
.logo-finger{
    font-size:40px;
    color:#2196f3;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    background-color: #f1f7fb;
    margin-left: 30px;
}
.logo-giftbox{
    font-size: 40px;
    color: #2196f3;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    background-color: #f1f7fb;
    margin-left: 30px;
}
.about-1 .redme{
    font-size: 25px;
    padding: 15px; 
    padding-left: 100px;
}
.about-1 .realme{
    font-size: 20px;
    padding-left: 125px;
    padding-bottom: 15px;
}
.features-flex{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}
.features-flex .features-1{
    width: 33.33%;
    height: 200px;
    padding: 20px 30px;
    border: solid 1px #ccc;
    border-top: 0px;
    box-sizing: border-box;
}
.features-1:nth-child(1){
   border-left: none;
}
.features-1:nth-child(3){
    border-right: none;
 }
 .features-1:nth-child(4){
    border-left: none;
    border-bottom: none;
 }
 .features-1:nth-child(5){
    border-bottom: none;
 }
 .features-1:nth-child(6){
    border-right: none;
    border-bottom: none;
 }

.features-1 .oppo{
    font-size: 25px;
    padding: 10px;
}
.features-1 .cam{
    font-size: 28px;
    padding: 10px;
}
.features-1 .vivo{
    font-size: 20px;
    padding: 10px;
}

.ourworks{
    background-color:#f5f5f5;
    padding-top: 30px;
    padding-bottom: 30px;
}
.ourworks-flex{
    display: flex; 
}
.ourworks-flex .ourworks-1 {
    width: 25%;
    margin-right: 20px;
    background-color:#fff;
    height: 150px;
    text-align: center;
    padding: 40px;
    box-shadow: 2px 2px 6px #222;
    box-sizing: border-box;
}
.ourworks-1 .oneplus{
    font-size: 40px;
    color: blue;
}
.services{
    padding-top: 80px;
    padding-bottom: 80px;

}
.service-list{
    display: flex;
    flex-wrap: wrap;
}
.service-list .service-box{
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}
.service-info .service-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0px 0px 10px #607d8b;
    text-align: center; 
    margin: 0 auto;  
}
.service-icon{
    font-size: 35px;
    color: #468DCB;

}
.service-text{
    text-align: center;
    padding-top: 30px;
}
.service-text h4{
    padding-bottom: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.service-line{
    width: 60px;
    height: 2px;
    background-color: #468DCB;
    margin: 5% auto ;
    
}
.service-box:hover .service-info .service-icon{
    box-shadow: 0px 0px 20px #468DCB;
    transition: all 0.5s;
}
.portfolio{
    display: flex;
    background-color: #f5f9fc;
}
.portfoliocontent h2{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 20px;
    font-size: 38px;
    color: #5c768d;
} 
.portfoliocontent p{
    display: flex;
    text-align: center;
    padding-bottom: 80px;
    font-size:18px;
}
.portfolio-list  {
       display: flex;
       flex-wrap: wrap;
    
}
.portfolio-list .portfoliobox{
    width: 33.33%;
    height: 270px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.portfoliocont {
    position: relative;
    overflow: hidden;
 }
.portfoliocont img{
    display: flex;
    width: 100%;
    height: 270px;
   transition: all 0.5s ease;
}
.portfoliocont:hover img{
    transform: scale(1.1);
}

.portfoliotext{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
    background-color: rgba(0, 0, 0, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(-20px);
}
.portfoliobox:hover .portfoliotext{
    opacity: 1;
    transform: translateY(0px);
}
.portfolioinfo h5{
    color: #fff;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}
.portfolioinfo h6 {
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.portfolioicon{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.portfolioicon a{
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #000;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    margin: 0 5px;
}
.our-team-head h2{
    font-size: 40px;
    color: #5c768d;
    padding-left: 480px;
    padding-top: 100px;
    
}
.our-team-head p{
    padding-left: 180px;
    padding-top: 10px;
    font-size: 20px;
    color: #607d8b;
}


.our-team-list{
    display: flex;
    flex-wrap: wrap; 
    padding : 50px;
    background-color: #fff;
}
.our-team-box{
    width: 25%;
    display: flex;
    flex-wrap: wrap;

}
.our-team-info{
    position: relative;
}
.our-team-info .our-team-pic{
    overflow: hidden;
    border-radius: 5px;
}
.our-team-info .our-team-pic img{
    width: 100%;
    display: block;
}
.our-team-content{
    position: absolute;
    bottom: -50px;
    left: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.41);
    padding: 10px 20px;
    text-align: center;
    width: 80%;
}
.our-team-content h5{
    color: #fff;
    font-size: 25px;
}
.our-team-content .hrline{
    width: 80px;
    height: 1px;
    background-color: #fff;
    margin: 6px auto;
}
.our-team-content p{
    color: #fff;
    font-size: 15px;
    padding-bottom: 10px;
}

.icons a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.icons a:hover{
    color: blue;

}
.icons a.iconfont-instagram{
    margin-right: 3px;
}

.faq-flex{
    display: flex;
    justify-content: space-between;
}
.faq-flex .faq-1{
    height: 840px;
    outline: solid 1px;
    width: 50%;
}
.contactus-flex{
    display: flex;
    height: 796px;
    outline: solid 1px;
}
.info-flex{
    display:flex;
    height: 460px;
    outline: solid 1px;
}
.legel-flex{
    display: flex;
    height: 110px;
    outline: solid 1px; 
}